#addTaskContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
}

 .add-task {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 h1 {
    margin: 64px;
    margin-bottom: 0;
}

 label {
    color: #2A3647;
}

 .task-input-container {
    display: flex;
    height: fit-content;
    margin: 64px;
}

 .task-input-container .task-input {
    display: flex;
    width: 976.25px;
    height: fit-content;
}

 .task-input-container .task-input-col {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    min-width: 350px;
    max-width: 550px;
    width: 100%;
    padding-right: 32px;
}

 .task-input-container .task-input-not-first-col {
    border-left: 1px solid #D1D1D1;
    padding-right: 0px;
    padding-left: 32px;
}

 .task-title,
 .task-description,
 .task-assigned-contacts,
 .task-date,
 .task-priority,
 .task-category,
 .task-subtask {
    width: 100%;
    font-family: 'Inter', sans-serif;

}

 #newTaskSubTask,
 .subtask-field,
 #newTaskTitle,
 #newTaskDate,
 #newTaskAssignedContact {
    height: 48px;
    width: calc(100% - 42px);
    font-size: 20px;
    border-radius: 10px;
    margin: 12px 0;
    border: 1px solid #D1D1D1;
    position: relative;
    font-family: 'Inter', sans-serif;
}

 .subtask-field {
    width: 100%;
}

 #newTaskTitle,
 #newTaskDate {
    padding: 0px 21px 0px 21px;
}

 #newTaskDescription {
    height: 120px;
    width: 100%;
    font-size: 20px;
    margin: 12px 0;
    padding: 12px 21px 12px 21px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

/* Category Dropdown */
 .category-select {
    height: 48px;
    border-radius: 10px;
    margin: 12px 0;
    border: 1px solid #D1D1D1;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

 .category-select select {
    font-size: 20px;
    height: 100%;
    padding: 0px 21px 0px 21px;
}

 .category-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
}

 .category-select select:hover {
    background-color: #f4f4f4;
}

 .category-select .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* ASSIGNED CONTACTS */
 #newTaskAssignedContact {
    position: relative;
    border: 10px;
    width: 100%;
}

 #newTaskAssignedContact .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
}

 .contact-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 8px;
}

 #assignedContactList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 10px;
}

 #assignedContactsDropDownContent {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
}

 #dropDownContactsTextFieldInput {
    position: relative;
    height: 100%;
    width: calc(100% - 42px);
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 0px 21px 0px 21px;
}

 #selectAssignedContactList {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 260px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #D1D1D1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .assign-contact-option {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

 .add-contact-button-container {
    width: 100%;
    height: 72px;
    margin: 8px 16px;
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D1D1D1;
    border-top: none;
}

 .assign-contact-option:hover {
    background-color: rgb(233, 233, 233);
}

 .selected-option {
    background-color: #2A3647;
    color: white;
}

 .selected-option:hover {
    background-color: #091931;
    color: white;
}

 .selected-contact-checkbox {
    margin: 12px;
}

/* Subtasks */
 .subtask-display {
    position: relative;
}

 .shown-subtask {
    display: list-item;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 6px 16px 6px 16px;
    z-index: 10;
    font-family: 'Inter', sans-serif;
}

 .shown-subtask:hover {
    background-color: #EEEEEE;
}

 .shown-subtask-menu {
    display: none;
    float: right;
    position: relative;
    z-index: 200;
}

 .shown-subtask:hover .shown-subtask-menu {
    display: flex;
    align-items: center;
}

 .edit-subtask-field {
    width: calc(100% - 32px);
    height: 32px;
    padding: 4px 16px 4px 16px;
    border: none;
    border-bottom: solid 1px #005DFF;
    outline: none;
    display: flex;
    justify-content: space-between;
}

 .edit-subtask-menu {
    position: relative;
    margin-top: -33px;
    margin-right: 16px;
    float: right;
    display: flex;
    justify-content: space-between;
}

 .subtask-field {
    position: relative;
    border-left: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
}

 .subtask-input-field {
    width: calc(100% - 44px);
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    padding: 0px 21px 0px 21px;
}

 #enterSubtaskCreation {
    position: absolute;
    right: 15px;
}

 .approve-subtask-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 15px;
    height: 100%;
}

 .approve-subtask-menu-border {
    background-color: #2A3647;
    height: 24px;
    width: 1px;
}

 #currentSelectedSubtasks {
    position: relative;
}

/* Task Category */
 .task-category {
    display: block;
}

 .category-options {
    position: absolute;
    top: -16px;
    border-bottom-left-radius: 10px;
}

 .new-task-category-option {
    position: relative;
    width: 440px;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

 .category-selection select {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

 #newTaskPriority {
    margin: 12px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
}

 .prio-radio-option {
    display: none;
}

 .priority-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 56px;
    box-sizing: border-box;
    min-width: 80px;
    width: 143px;
    gap: 8px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

 .priority-button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.166);
}

/* Hide the radio buttons */
 input[type="radio"] {
    position: absolute;
    z-index: -1;
}

/* Style the label when the radio button is checked */
 input[type="radio"]:checked+#urgentButton {
    background-color: orangered;
    color: white;
}

 input[type="radio"]:checked+#mediumButton {
    background-color: orange;
    color: white;
}

 input[type="radio"]:checked+#lowButton {
    background-color: #7AE229;
    color: white;
}

 input[type="radio"]:checked+.priority-button img {
    filter: brightness(0) invert(1);
}

 .white-symbol {
    filter: brightness(0) invert(1);
}

/* Icons and Cursors */
 #assignContactsDropDownIcon,
 #enterSubtaskCreation,
 #declineEnteredTaskIcon,
 #approveEnteredTaskIcon,
 #deleteSubTask,
 #newTaskAssignedContact,
 #editSubTask {
    cursor: pointer;
}

/* Form Options */
 #formOptions {
    width: calc(100% - 128px);
    display: flex;
    justify-content: flex-end;
    position: relative;
    gap: 10px;
    margin: 0 64px;
}

/* Animated Icons */
 .animated-icon {
    transition: background-color 0.3s ease-out;
    border-radius: 50px;
}

/* Task Created Notification */
 .task-created-notification-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: alignAnimation 0.5s ease-out forwards;
}

 .task-created-notification {
    position: relative;
    background-color: #2A3647;
    border-radius: 20px;
    color: white;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Inter', sans-serif; 
}

@keyframes alignAnimation {
    from {
        top: 100vh;
    }

    to {
        align-items: center;
    }
}

 .task-created-notification p {
    color: white;
    font-size: 20px;
}

 .animated-icon:hover {
    background-color: #EEEEEE;
}

/* Rotate 180 Degrees */
 .rotate-180 {
    transform: rotate(180deg);
}

/* Display Styles */
 .show-block {
    display: block !important;
}

 .show-flex {
    display: flex !important;
}

 .hide {
    display: none;
}