@media (max-width: 1300px) {
    .contact-element {
        gap: 25px;
    }

    .selected-contact-header {
        gap: 25px;
    }

    .selected-contact-container {
        padding: 110px 30px;
    }

    .selected-contact-container h1 {
        font-size: 47px;
    }

    .selected-contact-container h2 {
        font-size: 40px;
    }

    .selected-contact-container h4 {
        font-size: 20px;
    }

    .contact-name-row .circle {
        width: 100px;
        height: 100px;
    }

    .contact-name-row .circle .circle-text {
        font-size: 40px;
    }

    .horizontal-blue-line {
        height: 48px;
    }

    #contactTemplateTitle {
        font-size: 47px;
    }

    .add-contact-card-header-content h4 {
        font-size: 21px;
    }

    .add-contact-card-header {
        padding: 66px 30px 66px 30px;
    }

    .add-contact-card-header-content img {
        display: none;
    }
}

@media (max-width: 1200px) {

    .add-contact-card {
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        overflow-y: auto;
        max-height: 90%;
        gap: 0px;
    }
    .selected-contact-header {
        flex-direction: column;
        align-items: start;
        gap: 0px;
        margin-bottom: 40px;
    }

    .selected-contact-header h1 {
        margin-left: 0;
        margin-bottom: 0;
    }

    .selected-contact-header h4 {
        margin: 8px 0
    }

    .horizontal-blue-line {
        display: none
    }

    .vertical-blue-line {
        display: block;
    }

    .contact-name-row {
        width: 100%;
    }

    .contact-name-row .circle {
        width: 80px;
        height: 80px;
    }

    .contact-name-row .circle .circle-text {
        font-size: 27px;
    }

    .contact-name-row {
        gap: 20px;
    }

    .selected-contact-container h2 {
        font-size: 36px;
    }

    .contact-menu {
        display: none;
    }

    .contact-information-container {
        height: 0;
        margin: 21px 0;
    }

    .contact-hide-on-mobile {
        display: none !important;
    }

    .selected-contact-container {
        width: 100%;
        padding: 30px 30px;
    }

    #goBack {
        visibility: visible !important;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 126px;
        right: 30px;
    }

    .contact-button {
        height: 0;
        margin: 0 !important;
        padding: 0;
    }

    .contact-list-container {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .contact-button {
        visibility: hidden;
    }

    .alternative-button {
        display: none;
    }

    .add-contact-container {
        animation: bottomToCenter 0.5s ease-in-out forwards;
    }

    .add-contact-card {
        flex-direction: column;
        gap: 0;
        position: relative;
        flex: none;
        max-width: 100%;
        height: fit-content;

    }

    .add-contact-card-header {
        padding: 66px 24px;
        align-items: flex-start;
        height: 50%;
    }

    #contactCredentials img {
        width: 120px;
        height: 120px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .button-create-contact {
        margin: 0 !important;
    }

    .add-contact-card-form {
        height: 50%;
        padding: 0 16px 16px 16px;
        gap: 28px;

    }

    .contact-form-area {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .add-contact-card-form img {
        float: none;
        position: absolute;
        right: 0px;
    }

    #addContactFormActions {
        display: flex;
        justify-content: center;
    }

    .add-contact-card-form input {
        position: relative;
        padding: 13px 21px;
        display: flex;
        align-items: center;
        height: auto;
        font-size: 20px;
    }

    .menu-button-mobile {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #2A3647;
        padding: 12px;
        position: fixed;
        right: 16px;
        bottom: 39px;
        background-color: #2A3647;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .contact-button-mobile {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #2A3647;
        padding: 12px;
        object-fit: contain;
        position: fixed;
        right: 16px;
        bottom: 39px;
        background-color: #2A3647;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    #contactList {
        margin-top: 0;
        padding-bottom: 81px;
    }

    .contact-element {
        gap: 35px;
    }

    .contact-list-letter-header p {
        width: 100%;
        padding: 17px 36px;
    }
}

@media (max-device-width: 1000px) {


    #contactChangeNotificationContainer {
        left: 0;
        width: 100%;
    }

    #addContactFormActions {
        width: 100%;
        justify-content: center;
    }

    .clear-button {
        display: none;
    }

    .shift-in {
        animation: fromBottomTo20Percent 1s ease-in-out forwards;
    }

    .shift-out {
        animation: from20PercentToBottom 1s ease-in-out forwards;
    }
}

@media (max-width: 800px) {
    .contacts-container {
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100vh - 155px);
    }

    #goBack {
        top: 110px;
    }

    .menu-button-mobile {
        right: 16px;
        bottom: 112px;
    }

    .contact-button-mobile {
        right: 16px;
        bottom: 112px;
    }

    .add-contact-card {
        min-width: 520px;
    }


}

@media(max-width: 540px) {
    .add-contact-card {
        min-width: 300px;
    }

    .add-contact-card-header-content h4 {
        margin-bottom: 5px;
    }

    #contactTemplateTitle {
        font-size: 36px;
    }

    .add-contact-card-header {
        padding: 32px 16px;
    }


    #contactCredentials {
        position: relative;
        height: 80px;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    #contactCredentials .circle {
        width: 80px;
        height: 80px;
        border-radius: 70px;
        border: 3px;
    }

    #contactCredentials .circle .circle-text {
        font-weight: 500;
        font-size: 30px;
    }

    .add-contact-card-header-content h4 {
        font-size: 16px;
    }

    #contactCredentials img {
        width: 80px;
        height: 80px;
    }

    .add-contact-card-form input {
        max-width: 220px;
    }


    .contact-form-area {
        padding-top: 52px;
    }

    .add-contact-card-form {
        gap: 16px;
        align-items: center;
    }

    .button-create-contact {
        font-size: 18px;
        padding: 12px;
    }

}

@media (max-width: 800px) {
    .visible-add-contact-menu-responsive {
        bottom: 170px;
    }

    .hidden-add-contact-menu-responsive {
        bottom: 170px;
    }

    .responsive-contact-menu-container {
        bottom: 170px;
    }
}

@media (max-height: 800px) {
    .visible-add-contact-menu-responsive {
        bottom: 98px;
    }

    .hidden-add-contact-menu-responsive {
        bottom: 98px;
    }
}

@media (max-height: 800px) {
    .visible-add-contact-menu-responsive {
        bottom: 98px;
    }

    .hidden-add-contact-menu-responsive {
        bottom: 98px;
    }
}

@media (max-height: 786px) {
    .visible-add-contact-menu-responsive {
        bottom: 170px;
    }

    .hidden-add-contact-menu-responsive {
        bottom: 170px;
    }
}